# Required vars
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
MOD_LOG_CHANNEL_ID=

OMDB_ACCESS_TOKEN=

DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_DIALECT=

# If you plan to register new commands in dev
# DEV_GUILD_ID=

# These are not required, you can set them to override the default channels IDs on dev
# RULES_CHANNEL_ID=
